.ls-video-container {
  background-size: cover;
  background-repeat: no-repeat;
  will-change: opacity;
  height: calc(100vh - 60px);
  @media screen and (min-width: 768px) {
    height: calc(100vh - 70px);
  }
}

.ls-video {
  &--desktop {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &--mobile {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &--full-width {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 60px);
    @media screen and (min-width: 768px) {
      height: calc(100vh - 70px);
    }
    object-fit: cover;
  }
  video {
    width: 100% !important;
    height: auto !important;
  }
}